@import 'centered.scss';

@mixin markup {
  border: 2px solid white;
}

@mixin vertical-centered {
  top: 50%;
  transform: translateY(-50%);
}

@mixin centered-circle {
  @include markup;
  position: absolute;
  width: 144px;
  height: 144px;
  border-radius: 50%;
  @include centered;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
}

@mixin square {
  @include markup;
  @include vertical-centered;
  position: absolute;
  width: 120px;
  height: 312px;
}

.Field {
  @include markup;
  transform-style: preserve-3d;
  width: 996px;
  height: 480px;
  background-color: green;
  position: relative;
  transform-origin: bottom;
  transform: perspective(900px) rotate3d(1, 0, 0, 30deg);

  .markup {
    width: 100%;
    height: 100%;
    background-color: green;
    position: relative;

    .center-line {
      position: absolute;
      background-color: white;
      width: 2px;
      height: 100%;
      @include centered;
      bottom: 0;
    }
    .center-circle {
      @include centered-circle;
    }
    .center-dot {
      @include centered-circle;
      width: 7px;
      height: 7px;
      background-color: white;
    }
    .left-square {
      @include square;
      left: -2px;
      border-radius: 0 120px 120px 0;
    }

    .right-square {
      @include square;
      left: calc(100% - 122px);
      border-radius: 120px 0 0 120px;
    }
  }

  .left-goal {
    @include markup;
    position: absolute;
    top: 50%;
    left: -2px;
    transform: translateY(-50%);// rotateY(-57deg);
    //transform-origin: left;
    width: 74px;
    height: 140px;
  }

  .right-goal {
    @include markup;
    position: absolute;
    top: 50%;
    right: -2px;
    transform: translateY(-50%);// rotateY(-123deg);
    //transform-origin: left;
    width: 74px;
    height: 140px;
    //background-image: url(sprites/goal.gif);
  }
}
