#kunio {
  background-image: url(sprites/kunio.gif);

  &.moving {
    animation: moving 0.5s linear infinite;
  }
}

@keyframes moving {
  0%,
  49% {
    background-image: url(sprites/kunio-moving.gif);
  }
  50%,
  99% {
    background-image: url(sprites/kunio.gif);
  }
}
