.Player {
  transform-style: preserve-3d;
  position: absolute;
  transform: rotateX(-30deg) translateZ(28px);
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
  bottom: 50%;
  left: calc(50% - 32px);
  background-size: contain;

  &.mirrored {
    transform: scaleX(-1) rotateX(-30deg) translateZ(28px);
  }
}
